.container{
    background-color: purple;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
   }

.box{
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    }